<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Блог</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Блог</a></h1>
        <p><a href="{% url 'post_list' %}">Список постов</a></p>
        <div class="profile">
            {% if user.username %}
            <a href="{% url 'profile' %}" style="display: flex; align-items: center;">{{user.username}}{% if profile.avatar %}<img src="{{profile.avatar.url}}" alt="" style="width: 50px;">{% endif %}</a>
            {% else %}
            <a href="{% url 'login' %}">Войти</a>/<a href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>