{% extends "home.html" %}
{% block content %}
<h2>{{post.title}}</h2>
<p>Автор {{post.user.username}}</p>
{% if request.user == post.user %}
<a href="{% url 'edit_post' post.id %}">Редактировать пост</a>
<a href="{% url 'post_delete' post.id %}">Удалить пост</a>
{% endif %}
<p>Дата создания: {{post.created_at}}</p>
<p>{{post.content}}</p>
<p>Лайки: {{post.likes.count}}</p>
<a href="{% url 'like_post' post.id %}">
  {% if user in post.likes.all %}
  Убрать лайк
  {% else %}
  Поставить лайк
  {% endif %}
</a>
<h3>Комментарии:</h3>
<ul>
  {% for comment in comments %}
  <li>
    <strong>{{comment.user.username}}</strong>: {{comment.content}} ({{comment.created_at}})
    {% if comment.user == request.user %}
    <a href="{% url 'edit_comment' comment.id %}">Редактировать комментарий</a>
    <a href="{% url 'delete_comment' comment.id %}">Удалить комментарий</a>
    {% endif %}
  </li>
  {% empty %}
    <li>Комментариев еще нет</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  <textarea name="content" required></textarea>
  <button type="submit">Оставить комментарий</button>
</form>
{% else %}
  <p>Вам необходимо <a href="{% url 'login' %}">Войти</a> что бы оставить комментарий</p>
{% endif %}
{% endblock %}